# Dependencies
node_modules/
jspm_packages/
pnpm-store/

# Production/Build outputs
dist/
build/
out/
.next/

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Local Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Trash
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Text Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
